@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

h1, h2 {
    font: inherit;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.2rem;
  margin: 0;
  text-align: center;
}
h2{
  font-size: 2.2rem;
}

body {
    font:16px/1.2 'Poppins', sans-serif;
    background: 
    linear-gradient(45deg, hsl(236, 100%, 80%,.4), rgba(205,155,225,.3));
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  position: fixed;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  right: 0;
  top: 0;
  max-height: 100vh;
  overflow-x: auto;
}

.inputwrap {
  margin: 10px 0;
}

.col {
  display: flex;
  flex-direction: column;

}

.mt8 {
  margin-top: 8px;
}

input, select {
  padding: 15px;
  font-size: 0.9rem;
}

.bold {
  font-weight: 600;
  font-size: 1.1rem;
}

textarea {
  width: 100%;
  padding: 20px;
  font-size: 0.9rem;
}
button.plus {
  height: 50px;
  max-width: 500px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: rgb(60, 74, 164);
}

button.submit {
  margin-top: 50px;
  padding: 13px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: rgb(60, 74, 164);
}

button:hover {
cursor: pointer;
}

label:hover, input[type="radio"], input[type="checkbox"] {
cursor: pointer;
}

::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
  height:6px;
}
::-webkit-scrollbar-thumb {
  background: rgb(55, 55, 55);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: rgb(204, 204, 204);
  border-radius: 0;
}